<!DOCTYPE html>
<html>
<head>

<title>Admin Crop Approval</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_crops.css') }}">

</head>

<body>

<h1 class="title">Farmer Uploaded Crops</h1>

<div class="table-container">

<table>

<tr>
<th>ID</th>
<th>Crop</th>
<th>Price</th>
<th>Image</th>
<th>Status</th>

{% if mode == "action" %}
<th>Action</th>
{% endif %}

</tr>

{% for crop in crops %}

<tr>

<td>{{ crop.id }}</td>

<td>{{ crop.crop_name }}</td>

<td>₹{{ crop.price }}</td>

<td>
<img src="{{ url_for('static', filename='uploads/' + crop.image) }}" width="80">
</td>

<td>

{% if crop.status == "approved" %}
<span style="color:green;font-weight:bold;">Approved</span>

{% elif crop.status == "rejected" %}
<span style="color:red;font-weight:bold;">Rejected</span>

{% elif crop.status == "published" %}
<span style="color:blue;font-weight:bold;">Published</span>

{% else %}
<span style="color:orange;font-weight:bold;">Pending</span>

{% endif %}

</td>

{% if mode == "action" %}

<td>

<a href="/approve_crop/{{ crop.id }}" class="btn approve">Approve</a>

<a href="/reject_crop/{{ crop.id }}" class="btn reject">Reject</a>

<a href="/publish_crop/{{ crop.id }}" class="btn publish">Publish</a>

</td>
{% endif %}

</tr>

{% endfor %}

</table>

</div>

</body>
</html>