<!DOCTYPE html>
<html>

<head>

<title>Consumer Registration</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>

<body>

<div class="login-container">

<h1>Consumer Registration</h1>

<form method="POST">

<label>Name</label>
<input type="text" name="name" required>

<label>Email</label>
<input type="email" name="email" required>

<label>Mobile Number</label>
<input type="text" name="mobile" required>

<label>Password</label>
<input type="password" name="password" required>

<button type="submit">Register</button>

<a href="/consumer_login">Already Registered? Login</a>

</form>

</div>

</body>

</html>