<!DOCTYPE html>
<html>
<head>
<title>Consumer Register</title>
</head>

<body>

<h2>Consumer Registration</h2>

<form method="POST">

Name<br>
<input type="text" name="name" required><br><br>

Email<br>
<input type="email" name="email" required><br><br>

Mobile Number<br>
<input type="text" name="mobile" required><br><br>

Password<br>
<input type="password" name="password" required><br><br>

<button type="submit">Register</button>

</form>

<br>

<a href="/consumer_login">Already Registered? Login</a>

</body>
</html>