<!DOCTYPE html>
<html>
<head>

<title>Consumer Marketplace</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/consumer.css') }}">

</head>

<body>

<h1>Fresh Crops Marketplace</h1>

<div class="crop-container">

{% for crop in crops %}

<div class="crop-card">

<img src="{{ url_for('static', filename='uploads/' + crop.image) }}" class="crop-image">

<h3>{{ crop.crop_name }}</h3>

<p>₹{{ crop.price }}</p>

<button class="buy-btn">Buy Now</button>

</div>

{% endfor %}

</div>

</body>
</html>