<!DOCTYPE html>
<html>
<head>

<title>Farmer Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/farmer.css') }}">

</head>

<body>

<h1 class="title">Farmer Uploaded Crops</h1>

<a href="/add_crop" class="addbtn">+ Add New Crop</a>

<div class="container">

{% for crop in crops %}

<div class="card">

<img src="/static/uploads/{{crop.image}}" alt="crop">

<h3>{{crop.crop_name}}</h3>

<p class="price">₹{{crop.price}}</p>

<p class="status">{{crop.status}}</p>

</div>

{% endfor %}

</div>

</body>
</html>